# CONFIGURACIÓN DE BASE DE DATOS - POSTGRESQL
DB_PASSWORD=password
DB_DATABASE=db_database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_SCHEMA=schema
DB_SYNCHRONIZE=false

# CONFIGURACIÓN FTP
PATH_FTP_FINGERPRINTS="Person/Fingerprints"
PATH_FTP_DOCUMENTS="Affiliate/Documents"
PATH_FTP_FILE_DOSSIERS="Affiliate/FileDossiers"
PATH_FTP_IMPORT_DOCUMENTS_PVTBE="/documentos_pvtbe"

# BROKER DE MENSAJES - NATS
NATS_SERVERS="nats://localhost:4222"